.registro-container {
  padding: 40px 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Alinea los elementos horizontalmente */
  min-height: 100vh;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.logo {
  width: 190px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  align-self: center;  /* Alinea la imagen al centro */
}

input[type="email"],
input[type="password"] {
  font-size: 17px;
  font-weight: 500;
  color: #999;
  padding: 14px 15px 12px 35px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.input-group {
  margin-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.btn-primary {
  color: #fff;
  background-color: #9146ff;
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
}

.btn-primary:hover {
  background-color: #7d32eb;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #3b3663;
  margin-bottom: 20px;
}

.message {
  color: green;
  text-align: center;
  margin-bottom: 20px;
}

.btn-link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  margin-top: 15px;
}

.btn-link:hover {
  color: darkblue;
}

@media screen and (max-width: 667px) {
  .registro-container {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 415px) {
  h2 {
    font-size: 20px;
  }
  .registro-container {
    padding: 30px 15px;
  }
}

@media screen and (max-width: 320px) {
  h2 {
    font-size: 18px;
  }
  .btn-primary {
    padding: 13px 12px;
    font-size: 13px;
  }
  input[type="email"],
  input[type="password"] {
    font-size: 13px;
  }
}


  