

.genericocontainer {
  margin: 10% auto;
  display: flex;
  justify-content: center; 
  align-items: center;

}


.ProfilePhoto {
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;    
  img {
    width: 150px;   /* Ajusta el ancho de la imagen */
    height: auto;   /* Mantiene la proporción original de la imagen */
    border-radius: 50%;  /* Convierte la imagen en circular si es cuadrada */
    object-fit: cover;   /* Asegura que la imagen se ajuste correctamente al contenedor */
  }
  p {
    color: black;
  }
}








.my-form {
  width: 90%;               /* El formulario ocupa el 80% del ancho de la pantalla */
  max-width: 800px;         /* Establece un ancho máximo para evitar que sea demasiado grande en pantallas muy anchas */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;              /* Los campos ocupan el 100% del ancho dentro del formulario */
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}