/* color de la pagina */
.plans-container {
    background-color: #121212;  /* fondo negro */
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  /* Titulo */
  .plans-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
  }
  
  /* Descripcion  */
  .plans-description {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
  }
  
  /* cuadrados */
  .plan-card {
    background-color: #2c2c2c;  /* color de los cuadrados */
    padding: 20px;
    border-radius: 10px;
    width: 20%;  /* ancho del cuadrado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .plan-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Titulos y los precios */
  .plan-card h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .plan-price {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /* Color de los precios de cada cuadrado */
  .plan-price:nth-child(1) {
    color: #0000ff; /* primer cuadrado */
  }
  
  .plan-price:nth-child(2) {
    color: #800080; /* segundo cuadrado */
  }
  
  .plan-price:nth-child(3) {
    color: #ff0000; /* tercer cuadrado */
  }
  
  .plan-price:nth-child(4) {
    color: #ff7f00; /* cuarto cuadrado */
  }
  
  /* Descripción de los planes */
  .plan-classes, .plan-description {
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
  }
  
  /* Botones */
  .plan-button {
    background-color: #ff7f00;  /* color de los botones */
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid #ff7f00;  /* borde naranja */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .plan-button:hover {
    background-color: #e67300;  /* cambio de color del boton al pasar el cursor */
  }