.days-list {
    animation: slide-down 0.3s ease-out forwards;
    transition: ease-in-out .3s;
  }
  
  @keyframes slide-down {
    0% {
      transform: translateY(-10px);
      opacity: 0;
      
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  