.title {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.SoldadoContainer {
  width: 100%;
  background-image: url(../../assets/img/background.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.SoldadoContainer h1 {
  z-index: 2;
  color: white;
}
.SoldadoContainer::after {
  content: ""; /* Necesario para que funcione */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Color negro con 50% de opacidad */
  z-index: 1; /* Asegúrate de que esté encima del fondo */
}

.separator {
  height: 50px; /* Altura del cuadrado */
  width: 100%; /* Ancho del cuadrado */
  background-color: #fcde3b; /* Cambia el color según lo necesites */
}

.About {
  background-image: url(../../assets/img/AboutBackground.webp);
  background-size: cover;
  background-position: center;
}

.Half {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

.Half2 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: start;
  flex-direction: column;
}

.bgColor {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 53%,
    rgba(221, 221, 221, 1) 100%
  );
}

.HalfRight {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  font-size: 15px;
}

@media (max-width: 1000px) {
  .About {
    flex-direction: column;
    gap: 30px;
    height: auto;
  }
  .CardPeople {
    height: auto;
    padding: 5px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .Card {
    width: auto;
  }
}

