.roles-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#e2e8f0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  opacity: 0.9;
}

.roles-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
  background-color: #00000090;
  padding: 10px;
  border-radius: 8px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 30px;
  border-radius: 20px; 
  width: 400px; 
  max-width: 90%;
  height: auto; 
  max-height: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup h2 {
  margin-top: 0;
}

.popup input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

.popup-button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid black;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid black; 
}

.cancel-button {
  background-color: #f44336; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  border: 2px solid black;
}